<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.openpkw.openpkwmobile">

    <!-- camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/openpkw_icon"
        android:label="@string/app.name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app.name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.PasswordRestoreActivity" />
        <activity
            android:name=".activities.ScanQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VotingFormActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.TestActivity"
            android:label="@string/app.name" />
        <activity android:name=".activities.RegisterUserActivity" />
        <activity android:name=".activities.EndActivity" />
        <activity android:name=".activities.CommitteesResultActivity" />
        <activity android:name=".activities.ElectionCommitteeVotesActivity" />
        <activity android:name=".activities.QueryAddPhotosActivity" />
        <activity android:name=".activities.AddPhotosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.NextPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ThumbnailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SendDataActivity"/>
        <activity android:name=".activities.TimeoutDialogActivity"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait"/>
    </application>

</manifest>