<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.openpkw.openpkwmobile">

    <!-- camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/openpkw_icon"
        android:label="@string/app.name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app.name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.PasswordRestoreActivity" />
        <activity
            android:name=".activities.ScanQrCodeActivity"
            android:label="Krok 3 z 9"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.VotingFormActivity"
            android:label="Krok 4 z 9"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.TestActivity"
            android:label="@string/app.name" />
        <activity
            android:name=".activities.RegisterUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InstructionScanQrActivity"
            android:label="Instrukcja skanowania kodu QR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EndActivity"
            android:label="Dziękujemy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommitteesResultActivity"
            android:label="Krok 5 z 9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ElectionCommitteeVotesActivity"
            android:label="Krok 6 z 9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QueryAddPhotosActivity"
            android:screenOrientation="portrait"
            android:label="Krok 7 z 9" />
        <activity
            android:name=".activities.AddPhotosActivity"
            android:label="Krok 8 z 9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NextPhotoActivity"
            android:label="Krok 8 z 9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ThumbnailsActivity"
            android:label="Krok 9 z 9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SendDataActivity"
            android:label="Krok 9 z 9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TimeoutDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".camera.CameraActivity"
            android:allowBackup="true"
            android:label="Krok 8 z 9"
            android:screenOrientation="portrait"
            android:theme="@style/SemiTransparentActionBarTheme" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>